#aboutme-section {
  font-size: 1.1875rem;
}

.about-text {
  position: relative;
  margin-left: 1.875rem;
}

.about-icon {
  display: inline-block; 
  font-size: 1.5rem;
  position: absolute;
  left: -2.5rem;
  margin-top: 0.3125rem;
}

.fa-graduation-cap {
  color: #0040ff;
}

.fa-code {
  color: #008000;
}

.fa-heart {
  color: #ff0000;
}

.fa-file-alt {
  color: #f6ff00;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}

#contactme-section {
  font-size: 1.1875rem;
  margin-top: 3.75rem;
}

.contact-text {
  position: relative;
  margin-left: 1.875rem;
}

.contact-icon {
  display: inline-block; 
  font-size: 1.5rem;
  position: absolute;
  left: -2.5rem;
  margin-top: 0.3125rem;
}

.fa-envelope {
  color: #cca300;
}

#hireme-section {
  font-size: 1.1875rem;
  margin-top: 3.75rem;
}

.hire-text {
  position: relative;
  margin-left: 1.875rem;
}

.hire-icon {
  display: inline-block; 
  font-size: 1.5rem;
  position: absolute;
  left: -2.5rem;
  margin-top: 0.3125rem;
}

.fa-envelope {
  color: #cca300;
}