.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-image {
    height: 400px;
    width: 400px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.9em;
    color: #666;
  }